.Form{
    &__div{
        padding:10px;
    }

    &__input{
        width: 600px;
    padding: 8px 10px 8px;
    width: 87%;
    font-size: 20px;
    border: 1px solid blue;
    border-radius: 5px;
    }

    &__divbutton{
        margin-bottom: 150px;
    }
    &__button-cancel{
    color:lightgrey;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 0.25rem;
    font-weight: 800;
    margin-left: 16px;
    }
    
    &__button-add{
        background-color:black;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 0.25rem;
    font-weight: 800;
    &:disabled {
        background-color: grey;
      }
    }
  

    @media (max-width: 600px) {
        &__input{
            width: 87%;
        }
    }
    
}