.TodoList {


  @media (min-width: 800px) {
    max-width: 650px;
    margin: 0 auto;
  }

  &__add-button{
    background: rgb(106,131,255);
background: radial-gradient(circle, rgba(106,131,255,1) 70%, rgba(0,82,255,1) 100%);
    width: 90%;
    border: none;
    margin: 6px;
    padding: 11px;
    border-radius: 4px;

    -webkit-box-shadow: 3px 9px 22px 11px rgba(217,217,217,0.67);
-moz-box-shadow: 3px 9px 22px 11px rgba(217,217,217,0.67);
box-shadow: 3px 9px 22px 11px rgba(217,217,217,0.67);
  }

  &__text{
    color: #fff;
    font-size: 16px;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 0.25rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
}

&__icon{
    color: white;
}

  


}
