.Card {


    display: flex;
    align-items: center;
    color: black;
    background-color: #ffffff52;
    padding: 10px;
    margin: 11px;
    border-radius: 7px;
    position: relative;
    border: 1px solid #7270ff1c;




    -webkit-box-shadow: 10px 10px 31px 0px rgba(158,158,158,0.39);
    -moz-box-shadow: 10px 10px 31px 0px rgba(158,158,158,0.39);
    box-shadow: 10px 10px 31px 0px rgba(158,158,158,0.39);
  
    &__close{
        position: absolute;
    top: 6px;
    right: 11px;
    font-size: 20px;
    color: #3f51b5;
    &:hover {
        color: #3f51b5;
      }
    }
    
    &__edit{
        position: absolute;
    bottom: 3px;
    right: 67px;
    font-size: 20px;
    color: #3f51b5;
    }

    &__heart{
        position: absolute;
    bottom: 3px;
    right: 12px;
    font-size: 22px;
    color: #3f51b5;
    }

    &__trash{
        position: absolute;
    bottom: 3px;
    right: 43px;
    font-size: 20px;
    color: #3f51b5;
    }
    
    &__text{
        font-size: 20px;
    font-weight: 600;
    color: #3f51b5;
    }

    &__check{
        position: absolute;
        top: 10px;
    }

    &__textdiv{
        text-align: left;
        padding-top: 5px;
        padding-bottom: 14px;

    }
    &__textspan{
        font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
    padding-left: 5px;
    }

    &__textp{
        font-weight: 400;
    font-size: 19px;
    letter-spacing: 0px;
    padding-left: 5px;
    }

    &__button {
      background: transparent;
      border: 0;
      font-size: 1.25rem;
      cursor: pointer;
      outline: none;
      padding: 0;
      margin-right: 0.5rem;
  
      &:hover {
        color: #3f51b5;
      }
    }
  }

  