.Finder{
    margin-top:19px;
    &__input{
        width: 100%;
        padding: 10px;
    font-size: 18px;
    border: 2px solid #00000085;
    border-radius: 5px;
        @media (max-width: 600px) {
            width: 84%;
        }
    }
    

    
}