.EditCard{
    width: 100%;
    &__input{
        width: 85%;
    padding: 5px;
    font-size: 18px;
    margin-bottom: 3px;
    margin-top: 13px;
    border-radius: 5px;
    border: 1px solid #00059cd1;
    }
    &__div{
        width: 100%;
    }
    &__text{
        color: #fff;
    font-size: 16px;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 0.25rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    }

    &__button-add{
        background: rgb(106,131,255);
background: radial-gradient(circle, rgba(106,131,255,1) 70%, rgba(0,82,255,1) 100%);
    width: 90%;
    border: none;
    margin-top: 10px;
    margin-bottom: 26px;
    padding: 11px;
    border-radius: 4px;
    box-shadow: 3px 9px 22px 11px rgba(217, 217, 217, 0.67);

    }
}