.Navbar {
  &__upper {
    background-color:#6a83ff;;
    height: 40px;
    width: 100%;
    text-align: center;
    padding-top: 7px;
    display: inline-flex;
    justify-content: space-between;
  }

  &__down {
    height: 40px;
  }

  &__icon {
    height: 35px;
    padding-right: 4px;
  }
  &__icon1 {
    height: 30px;
    padding-bottom: 2px;
  }
  &__img {
    height: 37px;
    padding-left: 4px;
  }
  &__subt{
    text-transform: uppercase;
    vertical-align: super;
    text-decoration: underline;
    color: white;
  }

  @media (max-width: 600px) {
    &__subt {
      display: none;
    }
    &__img {
      height: 31px;
      padding-left: 20px;
    }

    &__icon {
      height: 25px;
    padding-right: 14px;
    padding-top: 4px;
    }
  }
  @media (min-width: 800px) {
    &__upper {
      max-width: 650px;
    }

    &__icon{
      height: 32px;
    }

    &__link{
      padding-left: 12px;
    }
  }

  &__title {
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    font-family: founders-grotesk-regular, Helvetica, Roboto, Arial, sans-serif;
    font-weight: 400;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.aux {
  background-color: #6a81f7;
  position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000000;
}

// background-color: #64ff6aa6;
// height: 50px;
// position: sticky;
// bottom: 0;
// -webkit-box-shadow: 6px 6px 33px -2px rgba(171,171,171,0.76);
// -moz-box-shadow: 6px 6px 33px -2px rgba(171,171,171,0.76);
// box-shadow: 6px 6px 33px -2px rgba(171,171,171,0.76);
// }
