.Footer{
    height: 45px;
    background-color: #6a83ff;
    width: 100%;
    text-align: center;
    padding-top: 7px;
    position: absolute;
    bottom: 0;

    &__title{
        color: white;
        font-weight: 900;
        letter-spacing: 1px;;
    }
    &__subtitle{
        color: white;
        font-weight: 900;
        letter-spacing: 1px;;
    }
}