.Authenticate{

    max-width: 650px;
    margin: 0 auto;
    @media (max-width: 600px) {
        width: 100%;
    }
    &__div{
        padding:10px;
    }

    &__input{
        width: 600px;
        padding: 8px 0 8px 0;
        font-size:20px;
        margin-bottom: 7px;
        padding: 11px 0px 11px 12px;
        font-size: 20px;
        border-radius: 7px;
        border: 2px solid #808ef0;
        @media (max-width: 600px) {
            width: 87%;
        }
    }

    &__button-cancel{
    color:lightgrey;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 0.25rem;
    font-weight: 800;
    margin-left: 16px;
    }
    
    &__linktext{
        letter-spacing: 1px;
        font-size: 16px;
        font-weight: 600;
    }
    &__error{
        padding: 10px;
    background: coral;
    margin: 14px;
    color: white;
    font-size: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    }
    &__button-add
    {
        background: black;
        color: #fff;
        width: 90%;
        border: none;
        margin: 6px;
        padding: 11px;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius: 4px;
        font-weight: 800;
        -webkit-box-shadow: 3px 9px 22px 11px rgba(217,217,217,0.67);
-moz-box-shadow: 3px 9px 22px 11px rgba(217,217,217,0.67);
box-shadow: 3px 9px 22px 11px rgba(217,217,217,0.67);
        &:disabled {
            background-color: grey;
        }
    }

}
